/*menu*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.menu {
	position: sticky;
	top: 0;
	background: linear-gradient(#adcbda, rgb(117, 117, 172));
	width: 100%;
}

.main-nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

nav a {
	text-decoration: none;
	display: block;
}
.main-nav__list-item {
	display: inline-block;
	position: relative;
	/*border: #f3eeee solid 1px;
	border-radius: 10px;*/
	margin: 10px 15px;
	flex-shrink: 0;
}
.main-nav__list-item > a:hover {
	background: rgb(241, 237, 237);
	color: #181515;
	text-shadow: none;
}
.main-nav__list-item > a {
	position: relative;
	padding: 10px 10px;
	font-size: 1.2em;
	line-height: 1;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	text-shadow: rgb(20, 20, 20) 5px 0 10px;
}
.main-nav__list-item > a:before {
	/*content: "";*/
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 80%;
	/*width: 10px;
	height: 10px;
	background: rgb(231, 158, 158);
	border-radius: 50%;*/
	transform: translate(-50%, 20px);
	opacity: 0;
	transition: 0.3s;
}
.main-nav__list-item:hover a:before {
	transform: translate(-50%, 0);
	opacity: 1;
}
.submenu {
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 95%;
	width: 250px;
	padding: 10px 0 10px;
	margin-top: 5px;
	background: rgb(240, 236, 236);
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, 20px);
	transition: 0.3s;
}

.main-nav__list-item:hover .submenu {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0);
}
.submenu a {
	font-size: 1.2em;
	padding: 5px 10px;
	transition: 0.3s linear;
	font-weight: lighter;
}
.submenu a:hover {
	color: white;
	background: #ce6f6f;
}
