/*Обнуление*/
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*TODO: Do we need it? I mean for all elements, not only for could be interactive*/
/*:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}*/

nav,
footer,
header,
aside {
	display: block;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	color: #222;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

body {
	font-family: "Times New Roman", Times, serif;
	background-color: #eef5f0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: unset;
}
.container {
	max-width: 1580px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}



.footer {
	background-color: #eef5f0;
	background-repeat: no-repeat;
	background-size: cover;
	background: url("/page/footer-back_cr.jpg");
}
.footer__row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer__links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 20px 0;
	flex-wrap: wrap;
}

.link__row {
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 100px;
	border: #0e0d0d solid 1px;
	border-radius: 10px;
	background-color: #e2e6e9;
	margin-left: 50px;
	transition: 0.1s;
}
.link__row:hover {
	transform: scale(1.2);
}
.link__text {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align: center;
	padding: 5px;
	font-size: 0.714em;
	text-transform: uppercase;
}
.contact__link {
	color: #0e0d0d;
}
.link__page {
	text-align: center;
	flex: 0 0 80px;
}
.link__page img {
	max-width: 100%;
	max-height: 100%;
}

/*navigation of footer*/
.footer__nav {
	width: 100%;
}
.footer-nav__row {
	display: flex;
	width: 100%;
	margin: 10px 0 20px 0;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.footer-nav__row-logo {
	display: flex;
	flex-direction: column;

	flex: 0 0 200px;
}
.footer-nav__row-logo img {
	max-width: 100%;
}
.logo__text {
	font-size: 1em;
}

.footer-nav__row-list {
	font-size: 1.2em;
	/*margin: 0px 0px 0px 350px;*/
}

.list li {
	font-size: 1em;
}

.footer-nav__row-text {
	justify-content: center;
	align-items: center;
	margin: 10px 0 5px 0;
}

.arrow-list {
	writing-mode: vertical-lr;
	letter-spacing: -3px;
	font-size: 0.8em;
	color: #0e0d0d;
	font-weight: bold;
}
